/* About.css */
.about {
    padding: 2rem;
    background-color: #f1f1f1;
    color: #333;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 600px;
    color: #555;
}